
  <div class="row">
    <div class="col-xs-6">
      <%= image_tag @listing.image.url, class: 'img' %>
    </div>
    <div class="col-xs-6 col-md-4 ">
        <legend><%= @listing.name %> <p class="pull-right text-danger"><%= number_to_currency @listing.price %></p></legend><br>

        <%= @listing.description %> <br>

      <% if (user_signed_in?) && ( current_user == @listing.user ) %>
        <%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-link' %> |
        <%= link_to 'Back', listings_path, class: 'btn btn-link' %>
      <% end %>

    </div>
  </div>

